{% extends "base.html.jinja" %}
{% block title %}Index{% endblock %}

{% block content %}
{% import "components/loader.html.jinja" as loader with context %}
{% import "components/index_form.html.jinja" as form with context %}
{% import "components/message.html.jinja" as message with context %}

<div class="max-w-md mx-auto mt-10">
	<h1 class="text-2xl font-bold mb-4">User Message</h1>
	{{ form }}

	{{ message }}

	<input
		hx-post="/users/messages"
		hx-target="#user-message"
		hx-trigger="click"
		hx-swap="outerHTML"
		hx-indicator="#loader-2"

		id="button-text"
		type="submit"
		value="Reset Message"
		class="inline-block bg-indigo-500 text-white px-4 py-2 mt-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600"
	>

	{{ loader.create( loader_id="loader-2" ) }}

</div>

{% endblock %}

{% block script %}{% endblock %}
